/*FOOTER*/

.footer
    {
    background-color: #18C29C;
    }

.footer__h2  
    {
    color: white;
    font-size: 2rem;
    font-family: 'Rock Salt', cursiva;
    text-align: center;
    line-height: 2;
    }

.footer__p
    {
    font-size: rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.5;
    font-weight: bolder;
    }

    .footer__a
    {
    color: black;
    font-size: 2rem;
    }

